.vscode/
.metadata/
.settings/
.gradle/
gradle/
.mvn/
target/
build/
bin/
.classpath
.project
servers/
00.share/
nginx-1.27.3/
gradle-8.11.1/
20250621*/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
